# dependencies
node_modules
.pnpm-store

# build outputs
.next
out
dist
.turbo

# env / secrets — never commit
.env
.env*.local

# next
next-env.d.ts

# netlify
.netlify

# misc
.DS_Store
*.pem
npm-debug.log*
